<div class="container">
	<div class="col-sm-12">
		<h2>Further Notes</h2>
		<label>Location: </label>
		<input type="text" class="form-control" ng-model="ctrl.log.result" />
		<label>Time and Date: </label>
		<input type="text" class="form-control" ng-model="ctrl.log.def" />
		<!-- <select class="form-control" ng-options="item.description as item.description for item in ctrl.
		userDefinitions" ng-model="ctrl.log.def"></select> -->
		<label>Notes: </label>
		<textarea class="form-control" rows="3" ng-model="ctrl.log.desc"></textarea>
		<p ng-show="ctrl.saved">You added further notes</p>
		<br>
		<button id="log-save" class="btn btn-primary" ng-click="ctrl.save()">Save</button>
	</div>
</div>